// Colors
$primary-color: #ff52bf;
$primary-darker-color: #f539b0;
$secondary-color: #00252e;
$tertiary-color: #f5faff;
$text-color: #8b959e;
$features-section-bg: #f6fbff;

// Devices widths
$small: 530px;
$medium: 750px;
$large: 1010px;
$xlarge: 1324px;
