@import 'mixins';
@import 'variables';
@import 'header';
@import 'hero';
@import 'communication';

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

section,
footer {
  margin: 0 28px;

  @include atLarge {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.btn {
  border: none;
  background: none;
  cursor: pointer;

  &_round {
    border-radius: 100px;
  }

  &_border_color_primary {
    border: 1px solid $primary-color;
  }

  &_bg_color_primary {
    background-color: $primary-color;
  }

  &_big {
    font-family: 'Open Sans', sans-serif;
    color: $tertiary-color;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 15px 40px;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.25);
    transition: background-color ease-out 0.15s;

    @include atLarge {
      padding: 25px 100px;
      font-size: 1.25rem;
      box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    }

    &:hover {
      background-color: $primary-darker-color;
    }
  }
}
